<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Album Info</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>

    <div class="navbar" >

        <ul class="nav navbar-nav">
            <li>
                <a class="navbar-brand" href="/">Home Page</a>
            </li>
            <li>
                <a class="navbar-brand" href="/hello">Hello Page</a>
            </li>
            <li>
                <a href="/capitalize/hello" >Capitalize</a>
            </li>
            <li>
                <a href="/getalbums" >Albums</a>
            </li>
            <li>
                <a href="/albums" >Add your Album</a>
            </li>
            <li>
                <a href="/existAlbums" >view Existing Album</a>
            </li>
            <li>
                <a href="/songs" >Your songs</a>
            </li>
            <li>
                <a href="/addSong" >Add Songs</a>
            </li>
            <li>
                <a href="/AlbumInfo" >Album info</a>
            </li>
        </ul>

    </div>

</header>

<form class="row g-3">
    <div class="col-auto">
        <label  class="visually-hidden">Album name</label>
        <input type="text" class="form-control" id="inputPassword2" placeholder="view songs in this album">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">submit</button>
    </div>
</form>

</body>
</html>