<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <link rel="stylesheet" href="style.css">
    <link th:href="@{/style.css}" rel="stylesheet"/>

</head>
<body>
<header>

    <div class="navbar" >

        <ul class="nav navbar-nav">
            <li>
                <a class="navbar-brand" href="/">Home Page</a>
            </li>
            <li>
                <a class="navbar-brand" href="/hello">Hello Page</a>
            </li>
            <li>
                <a href="/capitalize/hello" >Capitalize</a>
            </li>
            <li>
                <a href="/getalbums" >Albums</a>
            </li>
            <li>
                <a href="/albums" >Add your Album</a>
            </li>
            <li>
                <a href="/existAlbums" >view Existing Album</a>
            </li>
            <li>
                <a href="/songs" >Your songs</a>
            </li>
            <li>
                <a href="/addSong" >Add Songs</a>
            </li>
            <li>
                <a href="/AlbumInfo" >Album info</a>
            </li>
        </ul>

    </div>

</header>
<h1>Capitalize Page</h1>

<p style="text-transform: uppercase" th:text="${word}"></p>

</body>
</html>